header {
  width: 101%;
  margin: 0 0 0 -1.2%;
  background: #202020;

  @media (max-width: 600px) {
    width: 109%;
    margin-left: -5%;
  }

  h1.title {
    color: white;
    text-align: right;
    font-size: 2vw;
    margin: 0 2vw 10vh 0;
    padding: 15px 0;

    @media (max-width: 600px) {
      font-size: 10vw;
    }
  }
}